header {
  grid-area: header;
  background-color: rgb(165, 163, 212);
  text-align: center;
  color: #ffffff;
  padding: 20px;
}
body{ 
    background-color: rgb(213, 231, 231);
}
nav{
    grid-area:nav;
    background-color: rgb(149, 133, 186);

}

 nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    flex: 1;
    text-align: center;
}

 nav a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav :active {
    color: rgb(8, 89, 139);
}
main {
        display: flex;
}
.form-section{
    flex: 3;
    padding: 20px;
    background-color: #ffffff;
    margin-left: 0%;
    margin-right: 0%;
}
.image-placeholder {
    background: #e7b6ea;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.gioi-thieu{
    flex: 1;
    padding: 10px;
    background-color: #ffffff;
    margin-left: 1cm;
    margin-right: 0px;
}
